.navbar {
    background-color: #174069;
    font-size: 24px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #0c6ed1;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #0c6ed1;
}

.carousel-inner {
    height: 80vh;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  background-color:#174069;
  opacity: 0.5;
  bottom: initial;
}
.card {
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  margin-top: 50px;
}

.row #webImg {
  border: 0px solid #174069;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  background-color: #174069;
  color: whitesmoke;
  padding: 2%;
  margin-top: 50px;
}

.fab {
  color: whitesmoke;
  font-size: 25px;
  padding: 5px;
}

.fab:hover {
  color: rgb(124, 106, 101);
}